
services:
  frontend:
    build: ./React-Frontend
    ports:
      - "8080:80"
    networks:
      - app-network
    depends_on:
      - backend
    environment:
      APP_URL: ${APP_URL} 
  
  backend:
    build: ./DotNet-Backend

    ports:
      - "5000:8080" 
    depends_on:
      - db
    networks:
      - app-network
    secrets:
      - db_password
    environment:
      DB_HOST: ${DB_HOST}
      DB_PORT: ${DB_PORT}
      DB_NAME: ${DB_NAME}
      DB_USER: ${DB_USER}
      DB_PASSWORD_FILE: ${MYSQL_ROOT_PASSWORD}

  db:
    image: mysql:8.0
    ports:
      - "3306:3306"
    volumes:
      - db-data:/var/lib/mysql
    networks:
      - app-network
    secrets:
      - db_password
    environment:
      MYSQL_ROOT_PASSWORD_FILE: ${MYSQL_ROOT_PASSWORD}   #/run/secrets/db_password
      MYSQL_DATABASE: ${DB_NAME}      #appdb

networks:
  app-network:
    driver: bridge

volumes:
  db-data:

secrets:
  db_password:
    file: ./db_password.txt